:root {
  --colorDefault: #247ba0;
  --colorDefaultClaro: #1f487e;
  --colorDefaultOscuro: #0f1b33;

  --colorDefaultClarito: #fb3640;
  --colorDefaultletra: rgb(239, 213, 179);
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--colorDefault);

  padding: 20px;
  height: 180px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--colorDefaultOscuro);
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* buttoms nav */

nav {
  background-color: var(--colorDefaultClarito);

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.menu-Element {
  list-style: none;
}

#menu {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  color: var(--colorDefaultletra);

  display: inline-block;
  /* margin: 10px; */
  text-decoration: none;
  padding: 15px 30px;
}

.btn:visited {
  color: var(--colorDefaultClaro);
}

.btn:hover {
  background-color: var(--colorDefaultOscuro);
  color: var(--colorDefaultClarito);
}

.btn:active {
  background-color: var(--colorDefaultletra);
}

/* main */
.paragraph {
  width: 30%;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  margin: 1%;
}

/* header elements */
.logo {
  display: flex;
  justify-content: flex-start;
  padding: 5%;

  width: 50px;
  height: 50px;
  background-image: url("../assets/Asset\ 2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#header-left {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.logo-in {
  padding: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../assets/inst.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-tw {
  padding: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../assets/twitter-outline.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#header-left-top {
  display: flex;
  justify-content: flex-end;
}

#header-left-bot {
  display: flex;
  justify-content: flex-end;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(239, 213, 179);
  margin: 10px;
}
